{% extends 'default.twig' %}

{% block title %} Home {% endblock %}

{% block main %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="title">
            <h1>Hello! This is Egweb.</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center buttons">
            <a class="btn btn-dark m-3" href="https://gitlab.com/arcxevodov/egweb-framework">Project homepage</a>
            <a class="btn btn-dark m-3" href="https://gitlab.com/arcxevodov/egweb">Template homepage</a>
        </div>
    </div>
{% endblock %}

{% block style %}
    <style>
        body {
            background: #2b2d30;
            color: #d4cfce;
        }

        .title {
            opacity: 0;
            animation: ani 1.5s forwards;
        }

        .buttons {
            opacity: 0;
            animation: ani_b 1.5s forwards;
        }


        @keyframes ani {
            0% {
                opacity: 0;
                padding-bottom: 100px;
            }
            100% {
                opacity: 1;
                padding-bottom: 0;
            }
        }

        @keyframes ani_b {
            0% {
                opacity: 0;
                padding-top: 100px;
            }
            100% {
                opacity: 1;
                padding-bottom: 0;
            }
        }
    </style>
{% endblock %}